ul{
    list-style-type: none;
}

.text-plan, .text-fact {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-weight: 600;
}

.url{
    max-width: 300px;
    text-wrap: wrap;
    word-wrap: break-word;
    width: 20vh;
}

input {
    border: none;
    background: none;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .url {
        max-width: 120px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .url {
        max-width: 200px;
    }
    
}
