<header>
  <nav class="header-nav container flex-container">
    <h1 class="logo"><a class="logo-link" routerLink="/home">Dsign</a></h1>
    <ul class="header-menu flex-container">
      <li><a class="header-menu-link" routerLink="/home">Home</a></li>
      <li><a class="header-menu-link" routerLink="/workouts">Workouts</a></li>
      <li><a class="header-menu-link" routerLink="/aboutUs">About us</a></li>
      <li><a class="header-menu-link" routerLink="#">Template</a></li>
    </ul>
    <button class="ghost-button">Subscribe</button>
  </nav>
</header>

<router-outlet></router-outlet>