<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

<section style="background-color: #eee;">
    <div class="container py-5">  
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @if (!this.isTrainer){
                            <h2 class="my-3">Ваши тренировки!</h2>
                        } @else {
                            <h2 class="my-3">Тренировки ученика {{ this.trainee?.surname }} {{this.trainee?.name }}</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">                
                <ul >
                    @for(workout of workouts; track workout) {
                        <li class="card mb-4" ><a  routerLink="/workouts/{{workout.id}}">Workout {{ workout.date }}</a></li>
                    }
                </ul>
            </div>
        </div>
        @if (isTrainer){
            <div class="row">
                <div class="container text-center">
                    <button class="btn btn-secondary" (click)="addWorkout()">Добавить тренировку</button>
                </div>
            </div>
        }
    </div>
</section>


<!-- Footer section -->
<footer class="footer-section set-bg" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h4>Subscriptions</h4>
                    <div class="fw-info-box">
                        <p>8 926 433 67 88</p>
                        <p>+1 (603)535-4556</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h4>E-mail</h4>
                    <div class="fw-info-box">
                        <p>amborgolov&#64;mail.ru</p>
                        <p>www.example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget">
                    <h4>Social Media</h4>
                    <div class="fw-info-box">
                        <div class="social-links">
                            <a href="https://github.com/Amgalan-459/TestProjectAngularAspServer">GitHub</a>
                            <br>
                            <a href="#">Google play</a>
                            <br>
                            <a href="#">RuStore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>